.expenseTable {
  background-color: var(--background-color);
  color: var(--ligth-color);
  height: 100%;
  width: 100%;
}

.expenseTable table {
  border-top: 1px solid var(--lgbg-color);
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.expenseTable table th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
}
