body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: rgb(20, 12, 14);
  --lgbg-color: rgb(66, 54, 56);
  --primary-color: rgb(42, 141, 208);
  --ligth-color: rgb(222, 221, 228);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

